.mediaViewInfo {
	--web-view-name: form2;
	--web-view-id: form2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: form2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
/* css code For Form */

#Welcome_to_the_students_coding {
	left: 564px;
	top: 280px;
	position: absolute;
	overflow: visible;
	width: 496px;
	height: 81px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(17,17,17,0.929);
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 175px;
	height: 53px;
	left: 280px;
	top: 268px;
}

#Anout_Us {
	left: 307px;
	top: 280px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(17,17,17,0.929);
}

/* css code For Form2 */

#form2 {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: form2;
	--web-view-id: form2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_11 {
	fill: rgba(225,255,252,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 904px;
	height: 398px;
	left: 231px;
	top: 144px;
}
#Rectangle_12 {
	fill: rgba(255,206,206,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 904px;
	height: 90px;
	left: 231px;
	top: 144px;
}
#Welcome_to_IITG_Sodding_Clube {
	left: 467px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 433px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(17,17,17,0.929);
}
#Rectangle_13 {
	fill: rgba(207,207,251,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 308px;
	left: 231px;
	top: 234px;
}
#Rectangle_14 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 175px;
	height: 53px;
	left: 284px;
	top: 345px;
}
#Anout_Us {
	left: 307px;
	top: 280px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: form.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(17,17,17,0.929);
}
#Register {
	left: 305px;
	top: 356px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(17,17,17,0.929);
}
#First_Name_ {
	left: 564px;
	top: 270px;
	position: absolute;
	overflow: visible;
	width: 600px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(17,17,17,0.929);
}
#Last_Name_ {
	left: 564px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 600px;
	height: 40px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(17,17,17,0.929);
}
#Email_ID_ {
	left: 564px;
	top: 360px;
	position: absolute;
	overflow: visible;
	width: 600px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(17,17,17,0.929);
}
#Gender_ {
	left: 564px;
	top: 400px;
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(17,17,17,0.929);
}
#Rectangle_15 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 30px;
	left: 694px;
	top: 265px;
}
#Rectangle_16 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 30px;
	left: 694px;
	top: 355px;
}
#Rectangle_17 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 30px;
	left: 694px;
	top: 308px;
}
#Male {
	left: 699px;
	top: 402px;
	position: relative;
	overflow: visible;
	width: 500px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(17,17,17,0.929);
}
#Ellipse_5 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 765px;
	top: 407px;
}
#Ellipse_6 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 960px;
	top: 407px;
}
#Group_89 {
	position: absolute;
	width: 134px;
	height: 30px;
	left: 748px;
	top: 465px;
	overflow: visible;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: form2___1.html;
}
#Rectangle_18 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 134px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Submite {
	left: 23px;
	top: 3px;
	position: relative;
	overflow: visible;
	width: 90px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(17,17,17,0.929);
}
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

#Famale {
	left: 869px;
	top: 402px;
	position: relative;
	overflow: visible;
	width: 82px;
	
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(17,17,17,0.929);
}